.currencyLine {
  width: 100%;
  min-height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  flex-wrap: wrap;
  align-items: center;
}

.defaultCurrencyLine {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.otherCurrencyLine {
  width: 100%;
  padding: 4px;
  margin: 2px;
}
